# VS Code environment directory
.vscode/

#Objects
command.o
parsing.o
builtin.o
execute.o
mybash.o
prompt.o

#Test
.depend
strextra.o
tests/.depend
tests/run_command.o
tests/runner-command
tests/test.log
tests/test_pipeline.o
tests/test_scommand.o
tests/run_parsing.o
tests/runner-parsing
tests/test_parsing.o
tests/leaktest.o
tests/runner
tests/syscall_mock.o
tests/leaktest
tests/run_tests.o
tests/test_execute.o

#Otros
mybash
.gdb_history